.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.iframeBody {
    background-color: #fff;
}


/* 表单 */

.formContainer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 14px 120px 0 14px;
}

.formContainer .form-group {
    margin: 0 12px 14px 0;
}

.formContainer .form-group label {
    width: 86px;
    height: 34px;
    line-height: 34px;
    text-align: right;
}

.formContainer .form-group .form-control {
    width: 196px;
}

.formContainer .btnGroup {
    position: absolute;
    top: 12px;
    right: 12px;
}


/* 表格 */

.tableToolContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 14px;
}

.tableContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 14px;
}

.tableContainer .btn-sm {
    padding: 3px 10px;
}


/* 色彩 */

.cyanBlue {
    background-color: #00baf5;
}

.red {
    background-color: #e75059;
}

.rose {
    background-color: #e73a81;
}

.purple {
    background-color: #ac5ece;
}

.cyan {
    background-color: #51ced9;
}


/* 1个或多个居中按钮 */

.btnGroupCenter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.btnGroupCenter button {
    margin: 0 6px;
}


/* 单列表单容器 */

.formContainerSingle {
    width: 400px;
    margin: 24px auto;
}


/* 两列保单容器 */

.formContainerDouble {
    width: 840px;
    margin: 24px auto;
}

.formContainerDouble:after {
    content: " ";
    display: block;
    clear: both;
}

.formContainerDouble form:after {
    content: " ";
    display: block;
    clear: both;
}

.formContainerDouble .form-group {
    float: left;
    width: 400px;
}

.formContainerDouble .textarea {
    width: 100%;
}

.formContainerDouble .form-group:nth-child(2n+1) {
    margin-right: 40px;
}


/*数据可视化 */

[class^=col] {
    padding-right: 9px;
    padding-left: 9px;
}

.dataVisual-outline {}

.dataVisual-outline .item {
    height: 170px;
    position: relative;
    border-radius: 6px;
    margin-top: 6px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.dataVisual-outline .item1 {
    background-color: #0396FF;
    background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%)!important;
}

.dataVisual-outline .item2 {
    background-color: #FD6585;
    background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%)!important;
}

.dataVisual-outline .item3 {
    background-color: #4C83FF;
    background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%)!important;
}

.dataVisual-outline .item4 {
    background-color: #5961F9;
    background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%)!important;
}

.dataVisual-outline .item ul {
    float: left;
}

.dataVisual-outline .item .symbol {
    position: absolute;
    top: 50%;
    left: 40px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
}

.dataVisual-outline .item1 .symbol {
    background: url(../../public/images/dataVisual-outline-icon1.png) center no-repeat;
    background-size: 100% 100%;
}

.dataVisual-outline .item2 .symbol {
    background: url(../../public/images/dataVisual-outline-icon2.png) center no-repeat;
    background-size: 100% 100%;
}

.dataVisual-outline .item3 .symbol {
    background: url(../../public/images/dataVisual-outline-icon3.png) center no-repeat;
    background-size: 100% 100%;
}

.dataVisual-outline .item4 .symbol {
    background: url(../../public/images/dataVisual-outline-icon4.png) center no-repeat;
    background-size: 100% 100%;
}

.dataVisual-outline .item .content {
    width: 100%;
    text-align: center;
}

.dataVisual-outline .item .content .value {
    height: 40px;
    margin-top: 50px;
    line-height: 40px;
    font-size: 2.6rem;
    color: #fff;
    font-weight: bold;
}

.dataVisual-outline .item .content .text {
    font-size: 2.2rem;
    color: #fff;
}

.chartsBlock {
    position: relative;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 18px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.chartsBlock .chartsTitle {
    position: absolute;
    z-index: 99;
    left: 20px;
    height: 40px;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(50, 50, 50);
    line-height: 40px;
}

.chartsBlock .chartsTitle::before {
    position: absolute;
    left: -14px;
    top: 10px;
    content: '';
    width: 3px;
    height: 20px;
}

.chartsBlock .chartsInner {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.chartsBlock1 {
    height: 400px;
}

.chartsBlock1 .chartsTitle::before {
    background-color: #28d094;
}

.chartsBlock2 {
    height: 400px;
}

.chartsBlock2 .chartsInner {
    padding-top: 0;
}

.chartsBlock2 .chartsTitle::before {
    background-color: #ff4961;
}

.chartsBlock3 {
    height: 400px;
}

.chartsBlock3 .chartsTitle::before {
    background-color: #fc8f48;
}

.chartsBlock4 {
    height: 400px;
}

.chartsBlock4 .chartsTitle::before {
    background-color: #666ee8;
}

.chartsBlock5 {
    height: 400px;
}

.chartsBlock5 .chartsTitle::before {
    background-color: #666ee8;
}

.chartsBlock6 {
    height: 400px;
}

.chartsBlock6 .chartsTitle::before {
    background-color: #ff9149;
}