/* 1、全局重置 */
*{
    margin: 0;
    padding: 0;
}
body{margin:0;}
html{font-size: 62.5%;}
li{
    list-style: none;
}
body{background-color: #f4f5fa;} 
/* 2、layui */
/* 分页 */
.layui-laypage a:hover {
    color: #1c2956;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em{
    background-color: #1c2956;
}
/*数据表格*/
.layui-table-header thead tr th{
    font-weight: bold;
    color: #1c2956;
}
.layui-form-checked[lay-skin=primary] i {
    border-color: #1c2956!important;
    background-color: #1c2956;
}
.layui-form-checkbox[lay-skin=primary] i:hover{
    border: 1px solid #1c2956;
}
/* 3、bootatrap */
.btn-primary {
    background-color: #1c2956;
    border-color: #1c2956;
}
.btn-primary:hover {
    background-color: rgba(28,41,86,.9);
    border-color: rgba(28,41,86,.9);
}
.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background-color: #1c2956;
    border-color: #1c2956;
    outline:none;
}
.btn-primary:focus, .btn-primary.focus {
    background-color: #1c2956;
    border-color: #1c2956;
}
.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    background-color: #1c2956;
    border-color: #1c2956;
}
option:active{
    background-color: blueviolet;
}