.bordered {
  border-top: dotted 4px black;
  border-bottom: solid 4px black;
}
.box {
  width: 100px;
  height: 220px;
  background-color: red;
  border-top: dotted 4px black;
  border-bottom: solid 4px black;
}
