<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .current{
            background-color: deeppink;
        }
    </style>
    <title>百度搜索</title>
    <script src="../js/VUE.js"></script>
	<script type="text/javascript" src="../js/vue-resource.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="wd" @keyup="getDate($event)" @keydown.down="changeDown" @keydown.up="changeUp">
        <div>
            <ul>
                <li v-for="(value,index) in myDate" :class="{current:index==now}">{{value}}</li>
            </ul>
        </div>
    </div>
    <script>
        var app=new Vue({
            el:'#app',
            data:{
                wd:'',
                myDate:[],
                now:-1
            },
            methods:{
                getDate:function(e){
                    if(e.keyCode==38||e.keyCode==40)
                    return;
                    this.$http
                    .jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
                        params:{
                            wd:this.wd
                        },
                        jsonp:'cb'
                    })
                    .then(res=>{
                        var obj=res.bodyText;
                        this.myDate=JSON.parse(obj).s
                    })
                    .catch(error=>{
                        console.log(error)
                    })
                },
                changeDown:function(){
                    this.now++;
                    this.wd=this.mydate[this.now];
                },
                changeUp:function(){
                    this.now--;
                    this.wd=this.mydate[this.now];
                }
            }
        })
   //https://sug.so.360.cn/suggest

    </script>
</body>
</html>