.layout{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.headBar {
    box-sizing: border-box;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding-left: 250px;
    /* background-color: #FFFFFF; */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/333.png);
    -webkit-box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
}
.headBar .switch{
    float: left;
    height: 70px;
    margin-left: 12px;
    line-height: 70px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
       transition: transform .5s ease-in-out;
}
.headBar .navOften{
    float: left;
}
.headBar .navOften li{
    float: left;
    height: 72px;
    line-height: 72px;
    font-size: 1.5rem;
    padding: 0 12px;
    color: #fff;
    cursor: pointer;
}
.headBar .tool{
    float: right;
}
.headBar .tool li{
    float: left;
    height: 70px;
    padding: 0 10px;
    line-height: 70px;
    font-weight: bold;
    font-size: 26px;
    color: #fff;
} 
.headBar .user{
    float: right;
    margin: 0 14px 0 14px;
}
.headBar .user .avator{
    float: left;
    width: 36px;
    height: 36px;
    margin: 17px 4px 0 0;
    border-radius: 50%;
    background: url(../images/avator.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.headBar .user .symbol{
    float: left;
    height: 70px;
    line-height: 70px;
    font-size: 2rem;
    color: #fff;
}
.slideBar{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    box-shadow: 2px 10px 30px 0 rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.slideBar .slideBar-background{
    position: absolute;
    z-index: 97;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/222.png);
}
.slideBar .slideBar-content{
    position: absolute;
    z-index: 98;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    /* background-color: #081647; */
    /* background-image: -webkit-linear-gradient(45deg, #1488CC, #2B32B2);
    background-image: -moz- oldlinear-gradient(45deg, #1488CC, #2B32B2);
    background-image: -o-linear-gradient(45deg, #1488CC, #2B32B2);
    background-image: linear-gradient(45deg, #1488CC, #2B32B2);
    background-repeat: repeat-x; */
    /* opacity: 0.6; */
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/222.png);
}
.slideBar .slideBar-content .sysName{
    height: 70px;
    line-height: 70px;
    margin-bottom: 6px;
    overflow: hidden;
}
.slideBar .slideBar-content .sysName .symbol{
    float: left;
    width: 60px;
    text-align: center;
    font-size: 6.4rem;
    color: #fff;
}
.slideBar .slideBar-content .sysName .text{
    float: left;
    font-size: 2.4rem;
    color: #fff;
    font-weight: bold;
}
.slideBar .slideBar-content .menues{
    width: 100%;
    box-sizing: border-box;
    padding: 0 10px;
}

.slideBar .slideBar-content .menues .item{
    width: 100%;
}
.slideBar .slideBar-content .menues .item .open{
    background-color: rgba(255,255,255,.2);
}
.slideBar .slideBar-content .menues .item .item-name{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
.slideBar .slideBar-content .menues .item .item-name:hover{
    background-color: rgba(255,255,255,.2);
}
.slideBar .slideBar-content .menues .item .item-name .menu-icon{
    width: 60px;
    height: 46px;
    line-height: 46px;
    font-size: 3rem;
    text-align: center;
    color: #fff;
}
.slideBar .slideBar-content .menues .item .item-name .menu-title{
    width: 130px;
    height: 46px;
    line-height: 46px;
    font-size: 1.6rem;
    text-align: left;
    font-weight: bold;
    color: #fff;
    overflow: hidden;
}
.slideBar .slideBar-content .menues .item .item-name .menu-arrow{
    height: 46px;
    text-align: center;
    line-height: 46px;
    font-size: 2rem;
    color: #fff;
    -webkit-transition: transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
       transition: transform .3s ease-in-out;
}
.slideBar .slideBar-content .menues .item .item-content{
    width: 100%;
    display: none;
}
.slideBar .slideBar-content .menues .item .item-content li{
    position: relative;
    box-sizing: border-box;
    display: block;
    height: 42px;
    padding-left: 60px;
    margin-bottom: 10px;
    line-height: 42px;
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    cursor: pointer;
}
.slideBar .slideBar-content .menues .item .item-content li:hover{
    background-color: rgba(255,255,255,.2);
}
.slideBar .slideBar-content .menues .item .item-content .active{
    color: #1a2755;
    padding-left: 74px;
    background-color: #fff!important;
    box-shadow: 0 6px 14px 2px rgba(0, 0, 0, 0.2);
}
.slideBar .slideBar-content .menues .item .item-content .active::after{
    content: '';
    position: absolute;
    top: 17px;
    left: 60px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #1a2755;
}
.mainContent{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    padding: 82px 12px 12px 262px;
}
.mainContent iframe{
    width: 100%;
    height: 100%;
}
