<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数据可视化1</title>
    <link rel="stylesheet" href="../../../public/extends/bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="../../../public/extends/layui/css/layui.css">
    <link rel="stylesheet" href="../../../public/css/common.css">
    <link rel="stylesheet" href="../../../public/css/main.css">
    <link rel="stylesheet" href="../../../public/css/reset.css">
    <link rel="stylesheet" href="../../../public/css/theme/theme_black.css">
</head>
<body class="dataBody">
    <div class="container-fluid">
        <!-- 系统概要 -->
        <div class="row">
            <div class="dataVisual-outline">
                <div class="col-sm-6 col-md-3">
                    <div class="item item1">
                        <ul class="symbol"></ul>
                        <ul class="content">
                            <li class="value">5000</li>
                            <li class="text">我的账户(元)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="item item2">
                        <ul class="symbol"></ul>
                        <ul class="content">
                            <li class="value">5000</li>
                            <li class="text">实时在线(人)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="item item3">
                        <ul class="symbol"></ul>
                        <ul class="content">
                            <li class="value">15000</li>
                            <li class="text">今日在线(人)</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="item item4">
                        <ul class="symbol"></ul>
                        <ul class="content">
                            <li class="value">5000</li>
                            <li class="text">异常预警(次)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- 图表模块 -->
        <div class="row">
            <div class="col-md-7">
                <div class="chartsBlock chartsBlock1">
                    <li class="chartsTitle">Product Valuation</li>
                    <div class="chartsInner" id="chartsBlock1">

                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="chartsBlock chartsBlock2">
                    <li class="chartsTitle">Today's Activity</li>
                    <div class="chartsInner" id="chartsBlock2">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="chartsBlock chartsBlock3">
                    <li class="chartsTitle">Sales</li>
                    <div class="chartsInner" id="chartsBlock3">

                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="chartsBlock chartsBlock4">
                    <li class="chartsTitle">Recent Buyers</li>
                    <div class="chartsInner" id="chartsBlock4">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="chartsBlock chartsBlock5">
                    <li class="chartsTitle">Project Stats</li>
                    <div class="chartsInner" id="chartsBlock5">

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chartsBlock chartsBlock6">
                    <li class="chartsTitle">Product Statistics</li>
                    <div class="chartsInner" id="chartsBlock6">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../public/extends/jquery-3.5.0/jquery.min.js"></script>
    <script src="../../../public/extends/layui/layui.js"></script>
    <script src="../../../public/extends/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../../../public/extends/echarts/echarts.js"></script>
    <script src="../../../public/js/data1.js"></script>
    <script src="../../../public/js/iconfont.js"></script>
    <script src="../../../public/js/common.js"></script>
</body>
</html>