<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>指令综合练习</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
    <script src="../layui/layui.js"></script>
    <script src="../js/VUE.js"></script>
    <style>
        .vm{
            margin-top: 24px;
        }
    </style>
</head>
<body>
<div id="vm" class="vm">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="title"  placeholder="请输入姓名"  class="layui-input" v-model="user_.name">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">年龄</label>
            <div class="layui-input-block">
                <input type="text" name="title"  placeholder="请输入年龄" class="layui-input" v-model="user_.age">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="title"  placeholder="请输入邮箱"  class="layui-input" v-model="user_.email">
            </div>
        </div>
        <li class="layui-btn layui-btn-danger" @click="addUser">添加</li>
        <li class="layui-btn layui-btn-normal" @click="alert">重置</li>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(user,index) in users">
            <td>{{index+1}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
            <td>{{user.email}}</td>
            <td><li class="layui-btn"  @click="deleteUser(index)">删除</li></td>
        </tr>
        <tr>
            <td colspan="5">
                <li class="layui-btn layui-btn-normal" @click="deleteAll">删除所有</li>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    var vm=new Vue({
        el:'#vm',
        data:{
            users:[
                {name:"tom",age:24,email:'chenxuan@163.com'},
                {name:'大侠',age:30,email:'abcxyz@qq.com'},
                {name:'郭靖',age:80,email:'guojing@china.com'}
            ],
            user_:[],
            nowIndex:-1,
        },
        methods:{
            addUser () {
                this.users.push(this.user_);
                this.user_=[];
            },
            reset:function () {

            },
            deleteUser (order) {
                layui.use('layer', function(){
                layer = layui.layer;
                var index= layer.open({
                    title: ["重要提示！"]
                    ,type: 0
                    ,content: vm.users[order].name
                    ,area: ["300px","200px"]
                    ,shade: 0.3
                    ,anim: 3
                    ,btn: ['取消', '确定']
                    ,yes: function(index, layero){
                        // console.log(1);
                        layer.close(index);
                    }
                    ,btn2: function(index, layero){
                        // console.log(2);
                        layer.close(index);
                        // vm.nowIndex=vm.index;
                        console.log(vm.index);
                        vm.users.splice(order,1);
                    }
                    ,moveOut:true
                    ,maxmin: true
                    ,success: function(layero, index){

                    }
                    ,restore:function () {
                       
                    }
                    ,resizing: function(){
                       
                    }
                    ,full:function () {
                      
                    }
                 })
                });
                
            },
            deleteAll(){
                 layui.use('layer', function(){
                layer = layui.layer;
                var index= layer.open({
                    title: ["重要提示！"]
                    ,type: 0
                    ,content: '确定要删除全部吗？'
                    ,area: ["300px","200px"]
                    ,shade: 0.3
                    ,anim: 3
                    ,btn: ['取消', '确定']
                    ,yes: function(index, layero){
                        console.log(1);
                        layer.close(index);
                    }
                    ,btn2: function(index, layero){
                        console.log(2);
                        layer.close(index);
                        vm.users=[];
                    }
                    ,moveOut:true
                    ,maxmin: true
                    ,success: function(layero, index){

                    }
                    ,restore:function () {
                       
                    }
                    ,resizing: function(){
                       
                    }
                    ,full:function () {
                      
                    }
                 })
                });
              
            },
            alert(){
                
            }
        }
    })
</script>
<script>
    function alert() {
    
}
</script>
</body>
</html>