*{
    margin: 0;
    padding: 0;
}
li{list-style: none;}
.active{
    color: red;
    font-weight: bold;
}
.container .tab{
    width:360px;
    height: 32px;
    margin: 36px auto 0; 
}
.container .tab li{
    float: left;
    width: 120px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #333;
}
.container .tab li a{
    text-decoration: none;
    color:#333;
}
.container .show{
    width: 1240px;
    height: 680px;
    margin: 12px auto 0; 
    border: 2px solid #333;
}