.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.dataVision {
    position: relative;
    background: url(../img/bg.png) center no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
}

.head {
    position: relative;
    width: 100%;
    min-width: 1282px;
}

.head .bg {
    width: 100%;
    height: 56px;
    margin-top: 12px;
    background: url(../img/bg_head.png) center no-repeat;
    background-size: 100% 100%;
}

.head .mainName {
    position: absolute;
    left: 50%;
    top: 0;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #00b0fd;
    font-size: 26px;
    font-weight: bold;
}

.head .mainName .symbol {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 6px;
}

.head .mainName .symbol img {
    width: 100%;
    height: 100%;
}

.head .mainName .text {
    float: left;
    height: 40px;
    line-height: 46px;
}

.head .secondName {
    position: absolute;
    right: 20px;
    top: 22px;
    color: rgba(255, 255, 255, .6);
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    font-weight: bold;
}

.head .home {
    display: block;
    position: absolute;
    right: 320px;
    top: 18px;
    font-size: 32px;
    height: 28px;
    line-height: 28px;
    color: #00b0fd;
    cursor: pointer;
}

.head .tab {
    display: block;
    position: absolute;
    right: 270px;
    top: 22px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    color: #00b0fd;
    cursor: pointer;
}

.head .date {
    position: absolute;
    left: 20px;
    top: 24px;
    color: rgba(255, 255, 255, .6);
    font-size: 18px;
}

.main {
    box-sizing: border-box;
    width: 100%;
    min-width: 1282px;
    padding: 16px 16px 0 16px;
}


/* 数字展示 */

.main .num {
    position: relative;
    width: 100%;
    border: 1px solid #112d72;
}

.main .num .title {
    box-sizing: border-box;
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    background-color: rgba(5, 110, 191, .2);
}

.main .num .title li {
    /* flex-grow: 1; */
    float: left;
    width: 12.5%;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.main .num .item {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding-left: 50px;
}

.main .num .item li {
    float: left;
    width: 12.5%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.main .num .normal {
    border-bottom: 1px solid rgba(34, 34, 115, .5);
}

.main .num .normal li {
    color: #52ffff
}

.main .num .normalname {
    display: block;
    position: absolute;
    left: 16px;
    top: 48px;
    width: 40px;
    font-size: 18px;
    color: #52ffff
}

.main .num .current li {
    color: #28b1ff
}

.main .num .currentname {
    display: block;
    position: absolute;
    left: 16px;
    top: 106px;
    width: 40px;
    font-size: 18px;
    color: #28b1ff
}


/* 左侧 */

.main .left {
    box-sizing: border-box;
    float: left;
    width: 400px;
    padding: 16px 16px 0 0;
}


/* 中间 */

.main .right {
    float: right;
    width: 400px;
    padding: 16px 0 0 16px;
}


/* 右侧 */

.main .center {
    overflow: hidden;
}

.main .block {
    margin-bottom: 16px;
    border: 1px solid #112d72;
    background: url(../img/bottom_left.png) no-repeat bottom left, url(../img/bottom_right.png) no-repeat bottom right;
    background-size: 16px 16px;
}

.main .block>.title {
    box-sizing: border-box;
    width: 100%;
    height: 36px;
    padding-left: 16px;
    line-height: 36px;
    font-size: 18px;
    color: #fff;
    background-image: linear-gradient(to right, #071a7c, #020541);
}

.main .block .echarts {
    width: 100%;
    height: 240px;
}

.main .block1 {
    width: 100%;
    height: 240px;
}

.main .block1 .echarts_1 {
    float: left;
    width: 50%;
    height: 190px;
    margin-top: 10px;
}

.main .block1 .echarts_2 {
    float: left;
    width: 50%;
    height: 190px;
    margin-top: 10px;
}

.main .block2 {
    width: 100%;
    height: 310px;
}

.main .block2 .echarts {
    width: 100%;
    height: 270px;
}

.main .block3 {
    width: 100%;
    height: 270px;
}

.main .bymap {
    width: 100%;
    height: 582px;
}

.main .byBar {
    box-sizing: border-box;
    width: 100%;
    height: 296px;
}

.main .block5 {
    width: 100%;
    height: 300px;
}

.main .block6 {
    width: 100%;
    height: 280px;
}

.main .block6 .amount .amountTitle {
    margin: 20px 0 4px 0;
    padding-left: 24px;
    font-size: 18px;
    color: rgba(255, 255, 255, .6);
}

.main .block6 .amount .amountContent {
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 28px;
}

.main .block6 .amount .amountContent .value {
    font-family: myFirstFont;
    font-size: 42px;
    color: #04ffff;
    letter-spacing: 20px;
}

.main .block6 .amount .amountContent .unit {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
}

.main .block6 .echarts_ {
    width: 100%;
    height: 130px;
}

.main .block7 {
    width: 100%;
    height: 270px;
}

.main .block8 {
    width: 100%;
    height: 270px;
}

.border {
    background: url(../img/top_left.png) no-repeat top left, url(../img/top_right.png) no-repeat top right, url(../img/bottom_left.png) no-repeat bottom left, url(../img/bottom_right.png) no-repeat bottom right;
    background-size: 16px 16px;
}

@font-face {
    font-family: myFirstFont;
    src: url('../fonts/LiquidCrystal-Bold.eot'), url('../fonts/LiquidCrystal-Bold.otf'), url('../fonts/LiquidCrystal-Bold.svg'), url('../fonts/LiquidCrystal-Bold.ttf'), url('../fonts/LiquidCrystal-Bold.woff');
}


/* 首页*/

.index {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/bg.png) center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.index .system {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding-left: 24px;
    background-color: rgba(0, 176, 253, 0.2);
    border-bottom: 1px solid #4275f5;
}

.index .system .symbol {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 6px 0 0;
}

.index .system .symbol img {
    width: 100%;
    height: 100%;
}

.index .system .text {
    float: left;
    line-height: 60px;
    font-size: 30px;
    color: #00b0fd;
}

.index .nav {
    position: absolute;
    top: 52%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.index .nav a {
    display: block;
    float: left;
    background: url(../img/top_left.png) no-repeat top left, url(../img/top_right.png) no-repeat top right, url(../img/bottom_left.png) no-repeat bottom left, url(../img/bottom_right.png) no-repeat bottom right;
    background-size: 16px 16px;
    text-align: center;
    color: #fff;
    border: 1px solid #4275f5;
    background-color: rgba(0, 176, 253, 0.2);
}

.index .nav a .symbol {
    color: #00b0fd;
}

.index .nav a .text {
    font-size: 20px;
}

.index .copyright {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}

@media screen and (min-height:900px) {
    .index .nav {
        width: 1146px;
    }
    .index .nav a {
        display: block;
        width: 340px;
        height: 200px;
        margin: 20px;
        font-size: 30px;
    }
    .index .nav a .symbol {
        margin-top: 40px;
        font-size: 60px;
    }
    .index .nav a .text {
        font-size: 20px;
    }
}

@media screen and (max-height:900px) and (min-height:600px) {
    .index .nav {
        width: 990px;
    }
    .index .nav a {
        display: block;
        width: 300px;
        height: 180px;
        margin: 14px;
        font-size: 30px;
    }
    .index .nav a .symbol {
        margin-top: 40px;
        font-size: 56px;
    }
    .index .nav a .text {
        font-size: 20px;
    }
}

@media screen and (max-height:600px) {
    .index .nav {
        width: 930px;
    }
    .index .nav a {
        display: block;
        width: 280px;
        height: 160px;
        margin: 14px;
        font-size: 30px;
    }
    .index .nav a .symbol {
        margin-top: 24px;
        font-size: 56px;
    }
    .index .nav a .text {
        font-size: 20px;
    }
}


/* 2 */

.main .block9 {
    width: 100%;
    height: 258px;
}

.main .block9 .tableContainer {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px;
    color: rgba(255, 255, 255, .8)
}

.main .block9 .tableContainer tr {
    color: rgba(255, 255, 255, .8)
}

.main .block9 .tableContainer .title {
    color: #28b1ff;
    font-weight: bold;
}

.main .block10 {
    height: 280px;
}

.main .block10 .numList {
    box-sizing: border-box;
    padding: 12px 20px 0 20px;
}

.main .block10 .numList .item {
    width: 100%;
    height: 64px;
    margin-bottom: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #0a1f52;
}

.main .block10 .numList .item:last-child {
    border-bottom: none;
}

.main .block10 .numList .item>ul {
    float: left;
    width: 50%;
    text-align: center;
}

.main .block10 .numList .item>ul .value {
    height: 32px;
    line-height: 32px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}

.main .block10 .numList .item>ul ._f53f8c {
    color: #f53f8c;
}

.main .block10 .numList .item>ul ._ffae00 {
    color: #ffae00;
}

.main .block10 .numList .item>ul ._00af6d {
    color: #00af6d;
}

.main .block10 .numList .item>ul .name {
    color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 18px;
    color: #28b1ff;
}

.main .block11 {
    width: 100%;
    height: 454px;
}

.main .block11 .tableContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
}

.main .block11 .tableContainer tr {
    color: rgba(255, 255, 255, .8)
}

.main .block11 .tableContainer .title {
    color: #28b1ff;
    font-weight: bold;
}

.main .block11 .score {
    color: #ffae00;
    font-weight: bold;
}

.main .block12 {
    width: 100%;
    height: 555px;
}

.main .block12 .echarts {
    width: 100%;
    height: 523px;
}

.main .block13 {
    width: 100%;
    height: 454px;
}

.main .block13 .echarts {
    width: 100%;
    height: 422px;
}

.main .center .map {
    width: 100%;
    height: 558px;
    margin-bottom: 16px;
}

.main .block15 {
    height: 453px;
}

.main .block15 .echarts {
    width: 100%;
    height: 421px;
}

.dataVision .main .layui-table {
    margin: 0;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.dataVision .layui-table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0);
}

.dataVision .layui-table td {
    border-width: 1px;
    font-size: 16px;
    border-style: solid;
    border-color: #112d72;
}


/*---*/

.query {
    position: relative;
    box-sizing: border-box;
    padding-top: 60px;
    width: 100%;
    height: 100vh;
    background-color: rgb(242, 242, 242);
    overflow: hidden;
}

.query .head {
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 1366px;
    height: 60px;
    background-color: #00b0fd;
}

.query .head .system {
    float: left;
    margin-left: 12px;
}

.query .head .system .symbol {
    float: left;
    width: 40px;
    height: 40px;
    margin: 10px 6px 0 0;
}

.query .head .system .symbol img {
    width: 100%;
    height: 100%;
}

.query .head .system .text {
    float: left;
    line-height: 60px;
    font-size: 30px;
    color: #fff;
}

.query .head .nav {
    float: right;
    margin-right: 100px;
}

.query .head .nav a {
    display: inline-block;
    height: 34px;
    margin-top: 12px;
    line-height: 34px;
    font-size: 18px;
    padding: 0 10px;
    color: rgba(255, 255, 255, .8);
    margin-right: 16px;
}

.query .head .nav .active {
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #fff;
}

.query .head .user {
    float: right;
    margin-right: 12px;
}

.query .head .user .avator {
    float: left;
    width: 36px;
    height: 36px;
    margin: 12px 8px 0 0;
    border-radius: 50%;
    background: url('../img/avator.png') center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.query .head .user .userName {
    float: left;
    height: 60px;
    margin-right: 8px;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
}

.query .head .user .logout {
    float: left;
    height: 60px;
    color: #fff;
    font-size: 16px;
    line-height: 60px;
    cursor: pointer;
}

.query .head .user .logout:hover {
    color: #e75840;
}

.query .mainContent {
    width: 100%;
    height: 100%;
}

.query .mainContent .aside {
    box-sizing: border-box;
    position: fixed;
    z-index: 98;
    left: 0;
    top: 0;
    width: 250px;
    height: 100vh;
    padding-top: 80px;
    background-color: #fff;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.42);
}

.query .mainContent .aside li {
    box-sizing: border-box;
    height: 40px;
    margin-bottom: 4px;
    padding-left: 60px;
    border-left: 5px solid #fff;
    font-size: 16px;
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}

.query .mainContent .aside .active {
    border-left: 5px solid #00b0fd;
    color: #00b0fd;
    background-color: rgb(220, 220, 220);
}

.query .mainContent .aside li:hover {
    border-left: 5px solid #00b0fd;
    color: #00b0fd;
    background-color: rgb(220, 220, 220);
}

.query .mainContent .container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 12px 12px 0 262px;
}

.query .mainContent .container iframe {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.formContainer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 100px 0 12px;
}

.formContainer .form-item {
    float: left;
    margin-bottom: 12px;
}

.formContainer .form-item .layui-form-label {
    padding: 9px 6px 9px 0;
    width: 70px;
}

.btnGroup {
    position: absolute;
    right: 0;
    top: 16px
}

.tableToolContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 12px;
    overflow: hidden;
}

.tableContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 0 12px;
}

.tableContainer .layui-table,
.tableContainer .layui-table-view {
    margin: 0;
}

.layerContainer {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 24px;
}