<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>大数据展示</title>
    <link rel="stylesheet" href="../../../../public/extends/layui/css/layui.css">
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body class="dataVision">
    <div class="head">
        <li class="bg"></li>
        <!-- <li class="line"></li> -->
        <ul class="mainName">
            <li class="symbol"><img src="../public/img/logo.png" alt=""></li>
            <li class="text">xxx生产建设兵团交通运输局</li>
        </ul>
        <li class="secondName">交通运输行业大数据中心</li>
        <li class="date">2020-03-31 星期一 16：00：00</li>
    </div>
    <div class="main">
        <div class="num border">
            <span class="currentname">实时在线</span>
            <span class="normalname">车辆信息</span>
            <ul class="title">
                <li>两客一危</li>
                <li>班线客运</li>
                <li>旅游包车</li>
                <li>危货</li>
                <li>城市公交</li>
                <li>出租车</li>
                <li>普货</li>
                <li>外省籍入疆车辆</li>

            </ul>
            <ul class="item normal">
                <li>9999</li>
                <li>9999</li>
                <li>9999</li>
                <li>9999</li>
                <li>9999</li>
                <li>9999</li>
                <li>9999</li>
                <li>9999</li>
            </ul>
            <ul class="item current">
                <li>8888</li>
                <li>8888</li>
                <li>8888</li>
                <li>8888</li>
                <li>8888</li>
                <li>8888</li>
                <li>8888</li>
                <li>9999</li>
            </ul>
        </div>
        <div class="left">
            <div class="block block1">
                <li class="title">入网率/在线率</li>
                <div class="echarts_1" id="test1_1"></div>
                <div class="echarts_2" id="test1_2"></div>
            </div>
            <div class="block block2">
                <li class="title">车辆类型统计</li>
                <div class="echarts" id="test2"></div>
            </div>
            <div class="block block3">
                <li class="title">企业类型统计</li>
                <div class="echarts" id="test3"></div>
            </div>
        </div>
        <div class="right">
            <div class="block block6">
                <li class="title">警情信息</li>
                <div class="amount">
                    <li class="amountTitle">今日报警总数</li>
                    <ul class="amountContent">
                        <li class="value">6666666</li>
                        <li class="unit">条</li>
                    </ul>
                </div>
                <div class="echarts_" id="test6">

                </div>

            </div>
            <div class="block block7">
                <li class="title">上线车辆统计</li>
                <div class="echarts" id="test7"></div>
            </div>
            <div class="block block8">
                <li class="title">出疆/入疆统计/</li>
                <div class="echarts" id="test8"></div>
            </div>
        </div>
        <div class="center">
            <li class="bymap" id="test4"></li>
            <li class="byBar" id="test5"></li>
        </div>

    </div>
    <script src="../../../../public/extends/jquery-3.5.0/jquery.min.js"></script>
    <script src="../../../../public/extends/echarts/echarts.js"></script>
    <script src="../public/js/1.js"></script>
    <script src="../public/js/iconfont.js"></script>
</body>

</html>