样式重置
*{
    margin: 0;
    padding: 0;
    border:0;
}
li{ list-style: none;}
ul{padding: 0;margin: 0}
body{
    min-width: 1366px;
    height: 100vh;
    margin: 0;
    font-family: "Microsoft YaHei", 微软雅黑, helvetica, arial, verdana, tahoma, sans-serif;
    background: #0c041c url("../images/bg_body.png") center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}
.header{
    position: relative;
    width: 100%;
    height: 40px;
    margin:  10px 0 0;
}
@media screen and (max-width: 1367px) {
    .header .left{
        width: 32%;
    }
    .header .right{
        width: 32%;
    }
}
@media screen and (min-width:1367px) and (max-width:1440px){
    .header .left{
        width: 34%;
    }
    .header .right{
        width: 34%;
    }
}
@media screen and (min-width:1441px){
    .header .left{
        width: 36%;
    }
    .header .right{
        width: 36%;
    }
}
.header .left{
    position: absolute;
    left: 0;
    top: 0;
    height: 34px;
    background: url("../images/bg_head-left.png") center no-repeat;
    background-size: 100% 100%;
}
.header .center{
    width: 378px;
    margin:0 auto;
    height: 34px;
    background: url("../images/bg_head_center.png") center no-repeat;
    background-size: 100% 100%;
}
.header .right{
    position: absolute;
    right: 0;
    top: 0;
    height: 34px;
    background: url("../images/bg_head-right.png") center no-repeat;
    background-size: 100% 100%;
}
.header .date{
    position: absolute;
    width: 300px;
    right: 24px;
    text-align: right;
    top: -3px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
.main{
    box-sizing: border-box;
    padding: 0 8px 8px 8px;
    overflow: hidden;
}
.main .corner{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #19508b;
    background:
            url("../images/bg_left_top.png") no-repeat left top ,
            url("../images/bg_right_top.png") no-repeat right top ,
            url("../images/bg_left_bottom.png") no-repeat left bottom,
            url("../images/bg_right_bottom.png") no-repeat right bottom;
    background-color: rgba(1,23,86,.4);
}
.main .corner .title{
    position: absolute;
    top: -20px;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 140px;
    height: 38px;
    text-align: center;
    color: white;
    line-height: 36px;
    background: url("../images/bg_title.png") no-repeat center;
    background-size: 100% 100%;
}
.main .layout-left{
    float: left;
    width: 360px;
}
.main .layout-left .item{
    box-sizing: border-box;
    width: 100%;
    height: 33.33%;
    padding-top: 26px;
}
.main .layout-left .left-1 .carCount{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.main .layout-left .left-1 .carCount .labelLeft{
    position: absolute;
    width: 150px;
    left: 12px;
    top: 54%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.main .layout-left .left-1 .carCount .labelLeft .sb{
    float: left;
    width: 41px;
    height: 56px;
    margin-right: 12px;
    background: url("../images/car.png") center no-repeat;
}
.main .layout-left .left-1 .carCount .labelLeft .carTotal{
    color: white;
    font-size: 14px;
}
.main .layout-left .left-1 .carCount .labelLeft .carTotalAmount{
    font-size: 20px;
    color:#ffff43 ;
}
.main .layout-left .left-1 .carCount .labelLeft ul:first-child{
    margin-bottom: 20px;
}
.main .layout-left .left-1 .chartsRight{
    margin-left: 160px;
    height: 100%;
}
.main .layout-left .left-2 .flowCount{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.main .layout-left .left-2 .flowCount .labelRight{
    position: absolute;
    width: 260px;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform:  translate(-50%,-50%);
}
/*.main .layout-left .left-2 .flowCount .labelRight ul:first-child{*/
    /*margin-bottom: 4px;*/
/*}*/
.main .layout-left .left-2 .flowCount .labelRight ul li{
  /*margin-bottom: 6px;*/
}
.main .layout-left .left-2 .flowCount .labelRight ul .today{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: url("../images/today.png") center no-repeat;
}
.main .layout-left .left-2 .flowCount .labelRight ul .month{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background: url("../images/month.png") center no-repeat;
}
.main .layout-left .left-2 .flowCount .labelRight ul .legend{
    float: left;
    color: white;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
 }
.main .layout-left .left-2 .flowCount .labelRight ul .amount{
    display: inline-block;
    width: 100%;
    margin-top:6px;
    text-align: left;
    color: #ffff43;
    font-weight: bold;
    font-size: 24px;
}
.main .layout-left .left-2 .flowCount .labelRight ul li .compare{
    color: white;
    font-size: 12px;
}
.main .layout-left .left-2 .flowCount .labelRight ul li .arrow-rise{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../images/rise_fail.png") 0 0 no-repeat;
}
.main .layout-left .left-2 .flowCount .labelRight ul li .arrow-fall{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../images/rise_fail.png") 0 -12px no-repeat;
}
.main .layout-left .left-3 .line-off-on-wrap{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}
.main .layout-left .left-3 .line-off-on-wrap .line-off-on{
    height: 100%;
}
.main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 26px;
    color: #ffff43;
    font-weight: bolder;
}
@media screen and (max-width: 1367px) {
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on{
        width: 218px;
        margin: 0 auto;
        background: url("../images/4r23r4.png") center no-repeat;
        background-size: 218px 130px;
    }
}
@media screen and (min-width:1367px) and (max-width:1441px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on{
        background: url("../images/4r23r4.png") center no-repeat;
        width: 218px;
        margin: 0 auto;
        background-size: 218px 140px;
    }
}
@media screen and (min-width:1441px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on{
        width: 282px;
        margin: 0 auto;
        background: url("../images/42r3r.png") center no-repeat;
        background-size: 282px 180px;
    }
}


@media screen and (max-height: 700px) {
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 110px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 6px;
    }
}
@media screen and (min-height:701px) and (max-height:750px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 130px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 20px;
    }
}
@media screen and (min-height:751px) and (max-height:800px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 144px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 30px;
    }
}
@media screen and (min-height:801px) and (max-height:850px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 160px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}
@media screen and (min-height:851px) and (max-height:900px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 174px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}
@media screen and (min-height:901px) and (max-height:950px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 200px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}
@media screen and (min-height:951px) and (max-height:1000px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 220px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}
@media screen and (min-height:1001px) and (max-height:1050px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 230px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}
@media screen and (min-height:1051px) and (max-height:1100px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 260px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}
@media screen and (min-height:1101px) and (max-height:1150px){
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 280px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}
@media screen and (min-height: 1151px) {
    .main .layout-left .left-3 .line-off-on-wrap .line-off-on li{
        line-height: 300px;
    }
    .main .layout-left .left-2 .flowCount .labelRight ul:first-child{
        margin-bottom: 40px;
    }
}

.main .layout-center{
    box-sizing: border-box;
    padding: 0 12px;
    /*background-color: red;*/
    overflow: hidden;
}
.main .layout-center .item{
    box-sizing: border-box;
    width: 100%;
    height: 33.33%;
    padding-top: 26px;
}
.main .layout-center .item .center-1{
    height: 100%;
}
.main .layout-center .item .center-2 .terminalOnline{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
.main .layout-right{
    float: right;
    width: 360px;
}
.main .layout-right .right-1{
    padding: 36px 12px 12px;
}
.main .layout-right .right-1 .right-1-wrap{
  width: 364px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.main .layout-right .right-1 .organization{
    width: 326px;
    margin-bottom: 16px;
    border-bottom: 2px solid #031330;
}
.main .layout-right .right-1 .organization-name{
    margin-bottom: 6px;
    font-size: 14px;
    color: #eee;
}
.main .layout-right .right-1 .equipment{
    margin-bottom: 12px;
}
.main .layout-right .right-1 .equipment ul{
    height: 15px;
    overflow: hidden;
}
.main .layout-right .right-1 .equipment ul{
    height: 15px;
    overflow: hidden;
}
.main .layout-right .right-1 .equipment ul .equipment-progress{
    float: left;
    height: 15px;
}
.main .layout-right .right-1 .equipment ul .equipment-amount{
    float: left;
    height: 15px;
    margin-left: 8px;
    font-size: 12px;
    color: white;
    line-height: 15px;
}
.main .layout-right .right-1 .equipment .equipment-name{
    margin-top: 3px;
    font-size: 12px;
    color: #b1b7b9;
}
.main .layout-right .right-1 .equipment ul ._0048eb{
    background-color: #0048eb;
}
.main .layout-right .right-1 .equipment ul ._16ceb4{
    background-color: #16ceb4;
}
.main .layout-right .right-1 .equipment ul .f77a7a{
    background-color: #f77a7a;
}
.main .layout-right .right-1 .equipment ul ._17adef{
    background-color: #17adef;
}
.main .layout-right .right-1 .equipment ul .f5c847{
    background-color: #f5c847;
}
.main .layout-right .right-1 .equipment ul .af89d6{
    background-color: #af89d6;
}
.main .layout-right .right-1 .equipment ul ._f57f47{
    background-color: #f57f47;
}
.main .layout-right .item{
    box-sizing: border-box;
    width: 100%;
    height: 33.33%;
    padding-top: 26px;
}
.main .layout-right .right-2 .typeCount{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 20px;
}


