<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../js/bower_components/react/react.js"></script>
    <script src="../js/bower_components/react/react-dom.js"></script>
    <script src="../js/bower_components/babel/browser.js"></script>
</head>
<body>
    <div id="app"></div>
    <script type="text/babel">
    class Leo extends React.Component{
        render(){
            return (<div>
              <li>321r32r32,{this.props.a}</li>
              <li>qr3qr3</li>
            </div>
            )
        }
    };
    ReactDOM.render(<Leo a='6666666666666666'/>,app);
    </script>
</body>
</html>