<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>props默认值</title>
    <script src="../js/react-with-addons.js"></script>
    <script src="../js/react-dom.js"></script>
    <script src="../js/babel.js"></script>
</head>

<body>
    <div id="frame"></div>
    <script type="text/babel">
        var ele=document.getElementById('frame')
        var A1=React.createClass({
            getDefaultProps:function(){
                return{
                    name:" 北京!",
                    title:" 北京!",       }
            },
            render:function(){
                return <h2 title={this.props.title}>hello word!{this.props.name}</h2>
            },
          
        })
        ReactDOM.render(
            <A1 name="陈轩" />,ele
        )
    </script>
</body>

</html>